html
{
         margin-bottom: 10px;
}
body
{
	background-color:#ccc;
	                     /*fond de la page */
	background-attachment: scroll;
	border-radius: 20px;
         margin: 2% 2%;
        maring-bottom: 20px;
	
}

/* <============================================================*/
header
{
	margin:0px 0px;
    display: flex;
    border-left:5px solid rgba(248, 26, 4,0.5);
	border-top:5px solid rgba(248, 26, 4,0.5);
	border-right: 5px solid rgba(248, 222, 3,0.5); 
	border-radius:10px;
	border-bottom: 5px solid rgba(17, 225, 3,0.5);
    background:rgba(45, 9, 63,0.5);
    box-shadow: 2px 3px 2px rgba(45, 9, 63,0.5);

}
header a img
{  width: 150px;
	position:relative;
	left: 10px;
	border-radius: 20px;
}
.conteneur
{
	position: relative;
	left: 0px;
        display: flex;
	                                      /* LOGO ET LES TEXTES DANS HEADER*/
}

#logo
{
	display: flex;
	font-size: 35px;
	text-shadow: 2px 2px 2px black;
	clear: both;
         width: 30px;
}
.gui
{   position: relative;
	text-shadow: 2px 2px 2px black;
         left: 10px;
         top: -2px;
}
.bac
{
	
	position: relative;
	top: 20px;
	color: cadetblue; 
         left: -15px;
}
.text
{
	position: relative;
	transform:translate(-60px,39px);
}
.eva
{

	position: relative;
	top: -5px;
	left: 30px;
}
.line
{
	position: relative;
	top:-9px;
	left: 60px;
}

/*<=========================================================*/


/*<=========================================================*/
nav
{
        position: relative;
        top:50px;
        left: 35%;
        height: 50px;

         
}

nav li
{
	list-style: none;
	float: left;
          flex-direction: row;
	position: relative;
}
nav ul li a
{
	color: black;
	text-shadow: 2px 2px 2px black;
	text-decoration: none;
	border-radius: 10px;
	width: 160px;
	height: 50px;
	display: block;
	text-align: center;
	background:linear-gradient(to right,red,yellow,green 80%);;
	font-size: 20px;
	margin-right:20px;
          line-height: 50px;

}
nav ul li a:hover
{
           animation: ombre 10s ease-in-out alternate infinite;
	-webkit-animation: ombre  10s ease alternate infinite;
	-o-animation:ombre  10s  ease alternate infinite;
	-moz-animation:ombre  10s ease alternate infinite;
         animation-delay: 2.5s;
         transform: scale(1.25) translateX(-10px);
         margin-bottom:2px;
         font-size: 15px;
        transition: transform 2s ease ,font-size 2s ease;
         color: white;
	

}
@keyframes ombre
{
	from
	{
                 box-shadow: 2px -3px 10px #ccc;
	}
	30%
	{
		box-shadow:2px 3px 10px red;
	}
	60%
	{
		box-shadow: -2px 3px 10px yellow;
	}
	to
	{
		box-shadow: -2px -3px 10px green;
	}
}

section
{
         margin-top: 5%;
         
}

section img
{
         width: 100%;
         
}
@keyframes ombre_text
{
	from
	{
                   text-shadow: 2px -3px 10px #ccc;
	}
	30%
	{
		text-shadow:2px 3px 10px rgba(45, 9, 63);
	}
	60%
	{
		text-shadow: -2px 3px 10px #ccc;
	}
	to
	{
		text-shadow: -2px -3px 10px rgba(45, 9, 63);
	}
}
section article p
{
          animation: ombre_text 10s linear alternate infinite;
          text-align: center;
         font-size: 20px;
         word-spacing: 5px;
         color:black; 
}
section article h2
{
         font-style: italic;
         text-shadow: 2px 2px 2px black;
         text-align: center;
         text-decoration:underline rgba(45, 9, 63,0.5);
         border-radius: 20px;
}

/*<=========================================================*/

/*<=========================================================*/
footer
{
         display: flex;
         background:rgba(45, 9, 63,0.5);   
         width: 100%;
         height: 200px;
         margin-top: 10%;
         border-radius: 10px;
         opacity: 0.9;
         
}
footer:hover
{
         opacity: 1;
}
footer span 
{
         display: flex;
         margin-top: 50px;
         position: relative;
         left: 10%;
         clear: both;
}
span div
{
         opacity: 0.5;
}
span div:hover
{
         box-shadow: 2px 2px 2px #ccc;
         opacity: 1;
}
#ciscom
{
           border-right: 1px solid #ccc;
         border-radius: 5px;
         clear: left;
         margin-bottom: 30px;
         text-decoration: underline #ccc;
}
#felix
{
          border-left:1px solid #ccc;
         border-radius: 5px;
         clear: left;
         margin-bottom:30px;
         text-decoration: underline #ccc;
}
footer div a img
{
         width: 35px;
}
footer a img:hover 
{
         background: #ccc;
         border-radius: 10px;
}
footer h3
{
         text-shadow:2px 2px 2px black;
         color:#ccc;
         font-family: sans-serif;
         text-align: center;
}
footer span h2
{
         text-align: center;
           text-shadow:2px 2px 2px black;
         background-color:#ccc;
         color: rgba(45, 9, 63);
         height: 30px;
         width: 150px;
         font-family: sans-serif;
         position: relative;
         left: 50%;
         top: -60px;
         border: 4px solid #ccc;
         border-radius: 10px;
         
}


fieldset
{
         border-radius: 20px;
         position: relative;
         width: 75%;
         height: 150px;
         opacity: 0.7;
}
#projet img
{
    width: 40%;
    height: 60px;
    border-radius: 10px;
    height: 100px;
    position: static;
}
#projet fieldset h2
{
         font-family: sans-serif;
         text-align: center;
         position: relative;
         top: -105px;
         left: 85px;
          font-size: 30px;
         text-shadow: 2px 2px 2px black;
         opacity: 0.8;
         color: rgba(45, 9, 63,0.89);;

}
#projet fieldset h3
{
         position: relative;
         top: -130px;
         font-size: 30px;
         height: 10px;
}
#projet fieldset p
{
         text-align: center;
         height: -10px;
         margin-bottom:-5px;
         position: relative;
         top: -120px;
         left: 100%;
}


/*<=========================================================*/
section img
{
         width:100%; 
         height:400px;
         position: relative;
         
}


#album
{
         box-shadow: 10px 10px 10px black;
         border-radius: 10px;
}
#album img
{
    border-radius: 10px;

    animation:myanime 5s ease  infinite;
    -webkit-animation: myanime 5s ease  infinite;
    -moz-animation: myanime 5s ease  infinite;
    -o-animation: myanime 5s ease  infinite;
}
@keyframes myanime
{
    from 
    { 
       transform: scale(1.009);
    }
    to
    {
       
       transform: scale(1);

    }
}

