.bien
{
	text-align: center;
	text-shadow: 4px 5px green;
}
body
{
	margin: 40px;
}
.monarticle
{
	background: black;
	color: white;

	margin:;
}
h1
{
	text-align: center;
	text-shadow: 4px 5px green;
	font-size:50px;
}
.di
{

	margin: 40px;	
}
.par
{
	background: #ccc;
}